// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  transition: background-color .4s ease;
  
  .header-main {
    transition: padding .2s ease;
    padding: 30px 0;
  }

  .header-top {
    background-color: $offwhite;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 0;

    @media only screen and (max-width: $breakpoint-sm) {
      display: none;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;

    img {
      width: 46px;
      margin-right: 15px;
      
      @media only screen and (max-width: $breakpoint-md) {
        width: 36px;
        margin-right: 10px;
      }
    }

    p {
      letter-spacing: 1px;
      font-weight: 500;
      // text-transform: uppercase;

      @media only screen and (max-width: $breakpoint-sm) {
        font-size: 13px;
      }
    }
  }

  &__icons {
    display: flex;
  }

  &__cart-link {
    border-radius: 50%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $transition-slowest;

    &:not(:last-child) {
      margin-right: 10px;
  
      @media only screen and (max-width: $breakpoint-md) {
        margin-right: 5px;
      }
    }
  }

  &__shop-link {
    margin-right: 15px;
    // text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;

    @media only screen and (max-width: $breakpoint-sm) {
      margin-right: 10px;
      font-size: 13px;
    }
  }

  &__icon {
    display: block;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: contain;

    @media only screen and (max-width: $breakpoint-sm) {
      width: 19px;
      height: 19px;
    }

    &--cart {
      position: relative;

      .shopping-cart__number {
        background-color: $light-gray;
        color: $black;
        line-height: 1;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        font-size: 12px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(60%, 60%);
        box-shadow: 0 0 2px rgba(0, 0, 0, .5);

        @media only screen and (max-width: $breakpoint-md) {
          font-size: 10px;
          width: 15px;
          height: 15px;
        }
      }
    }
  }

}

.header--transparent {
  color: $white;
  // background-color: transparent;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75),  rgba(0, 0, 0, 0));

  .header-main {
    @media only screen and (max-width: $breakpoint-lg) {
      padding: 22px 0;
    }
  
    @media only screen and (max-width: $breakpoint-md) {
      padding: 15px 0;
    }
  }

  .header__icon--cart {
    background-image: url('../img/icons/cart-white.svg');
  }

}

.header--white {
  color: $black;
  background-color: $white;
  border-bottom: 1px solid $offwhite;

  .header-main {
    padding: 22px 0;

    @media only screen and (max-width: $breakpoint-md) {
      padding: 15px 0;
    }
  }

  .header__icon--cart {
    background-image: url('../img/icons/cart-black.svg');
  }

}