.input {
  font-size: 13px;
  font-weight: 400;
  border: none;
  box-shadow: none;
  line-height: 1.5;
  padding: 15px 25px;
  border-radius: 50px;
  color: $black;
  background-color: $white;
  transition: $transition-slow;
  // min-width: 300px;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &::placeholder {
    color: $gray;
  }

  @media only screen and (max-width: $breakpoint-xl) {
    padding: 12px 17px;
  }

  @media only screen and (max-width: $breakpoint-md) {
    padding: 8px 15px;
    font-size: 10px;
  }
}