.product {
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 0 3px rgba(0, 0, 0, .1);
  transition: box-shadow .4s ease;
  cursor: pointer;
  
  &__img {
    overflow: hidden;
    position: relative;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 20px;

    @media only screen and (max-width: $breakpoint-xl) {
      padding: 15px;
    }

    @media only screen and (max-width: $breakpoint-sm) {
      padding: 12px 10px;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 300;
    min-height: 48px;
    
    @media only screen and (max-width: $breakpoint-xl) {
      font-size: 14px;
      min-height: 42px;
    }
    
    @media only screen and (max-width: $breakpoint-sm) {
      min-height: 36px;
      font-size: 12px;
    }
  }

  &__price {
    font-size: 20px;

    @media only screen and (max-width: $breakpoint-xl) {
      font-size: 16px;
    }


    @media only screen and (max-width: $breakpoint-sm) {
      font-size: 14px;
    }

    &--sale {
      .new-price {
        display: inline-block;
        color: $orange;
        margin-right: 30px;

        @media only screen and (max-width: $breakpoint-xl) {
          margin-right: 20px;
        }

        @media only screen and (max-width: $breakpoint-sm) {
          margin-right: 10px;
        }
      }

      .old-price {
        display: inline-block;
        color: $light-gray;
        text-decoration: line-through;
      }
    }
  }

  &__label {
    position: absolute;
    top: 20px;
    left: 20px;

    @media only screen and (max-width: $breakpoint-xl) {
      top: 12px;
      left: 12px;
    }

    @media only screen and (max-width: $breakpoint-sm) {
      top: 5px;
      left: 10px;
    }

    @media only screen and (max-width: 350px) {
      top: 2px;
      left: 7px;
    }
  }

  &:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
  }
}