.subscription {
  position: relative;
  overflow: hidden;
  margin: 20px 0;

  @media only screen and (max-width: $breakpoint-lg) {
    margin: 0;
  }

  &__content {
    position: relative;
    padding: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: inherit;

    @media only screen and (max-width: $breakpoint-lg) {
      padding: 7% 5%;
    }
    
    @media only screen and (max-width: $breakpoint-md) {
      flex-direction: column;
      padding: 4% 15px 6% 15px;
    }
    
    @media only screen and (max-width: $breakpoint-sm) {
      padding: 5% 15px 7% 15px;
    }
  }

  &__heading {
    align-items: center;
    justify-content: space-between;
    font-size: 29px;
    font-weight: 300;

    @media only screen and (max-width: $breakpoint-xl) {
      font-size: 22px;
    }

    @media only screen and (max-width: $breakpoint-lg) {
      font-size: 17px;
    }

    @media only screen and (max-width: $breakpoint-md) {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  &__bg-img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  h3 {
    flex: 0 0 50%;
  }

  form {
    flex: 0 0 50%;
  }

  form {
    display: flex;
  }

  input {
    flex-grow: 1;
    margin-right: 20px;

    @media only screen and (max-width: $breakpoint-lg) {
      margin-right: 10px;
    }
  }
}