.subscription {
  position: relative;
  overflow: hidden;
  margin: 20px 0;

  &__content {
    position: relative;
    padding: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: inherit;

    @media only screen and (max-width: $breakpoint-xl) {
      padding: 3.25% 23% 4.75% 23%;
      flex-direction: column;
      justify-content: stretch;
      align-items: stretch;
    }

    @media only screen and (max-width: $breakpoint-lg) {
      padding: 3.25% 17% 4.75% 17%;
    }

    @media only screen and (max-width: $breakpoint-md) {
      padding: 3.25% 10% 4.75% 10%;
    }

    @media only screen and (max-width: $breakpoint-sm) {
      padding: 3.25% 15px 4.75% 15px;
    }
  }

  &__bg-img {
    position: absolute;
    left: 0;
    top: 100%;
    transform: translateY(-50%);
  }

  h3 {
    flex: 0 0 50%;
  }

  form {
    flex: 0 0 50%;
  }

  form {
    display: flex;
  }

  input {
    flex-grow: 1;
    margin-right: 20px;

    @media only screen and (max-width: $breakpoint-md) {
      margin-right: 10px;
    }
  }

  @media only screen and (max-width: $breakpoint-xl) {
    h3, form {
      flex: 1 0 100%;
    }

    h3 {
      margin-bottom: 15px;
    }
  }

  @media only screen and (max-width: $breakpoint-sm) {
    display: none;
  }
}