// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;

  user-select: none!important; /* standard syntax */
  -webkit-user-select: none!important; /* webkit (safari, chrome) browsers */
  -moz-user-select: none!important; /* mozilla browsers */
  -khtml-user-select: none!important; /* webkit (konqueror) browsers */
  -ms-user-select: none!important; /* IE10+ */
}

*:focus {
  outline: none!important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a:link,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
}