// Wrapper Products
.products .container {
  position: relative;
  display: flex;
  padding: 40px 15px 80px 15px;

  @media only screen and (max-width: $breakpoint-lg) {
    flex-direction: column;
    padding: 40px 15px 60px 15px;
  }

  @media only screen and (max-width: $breakpoint-sm) {
    padding: 30px 15px 30px 15px;
  }
}

// Products Side
.products__filters {
  flex: 0 0 20%;

  .product__filters-container {
    @media only screen and (max-width: $breakpoint-sm) {
      max-height: calc(100vh - 160px);
      overflow: scroll;
    }
  }

  &.display {
    display: block;
  }

  @media only screen and (max-width: $breakpoint-xl) {
    flex: 0 0 25%;
  }

  @media only screen and (max-width: $breakpoint-lg) {
    display: none;
    position: absolute;
    top: 100px;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
    width: calc(100% - 30px);
    height: 100%;
    background-color: $white;
    margin: 0;
    box-shadow: 10px 0 20px rgba(255, 255, 255, 1), -10px 0 20px rgba(255, 255, 255, 1);
  }

  @media only screen and (max-width: $breakpoint-sm) {
    top: 90px;
  }

}

// Products Main
.products__main {
  flex-grow: 1;
  padding-left: 35px;

  @media only screen and (max-width: $breakpoint-lg) {
    padding-left: 0;
  }
}

// Products Sort
.products__sort {
  display: flex;
  align-items: center;
  padding-bottom: 38px;

  @media only screen and (max-width: $breakpoint-xl) {
    padding-bottom: 30px;
  }

  .products__heading {
    font-size: 24px;
    font-weight: 300;
    margin-right: auto;

    @media only screen and (max-width: $breakpoint-xl) {
      font-size: 22px;
    }

    .number {
      color: $gray;
    }
  }

  .product__filter-toggler {
    display: none;

    img {
      width: 22px;
    }

    @media only screen and (max-width: $breakpoint-lg) {
      display: block;
    }
  }
}

// Products List
.products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 50px;

  @media only screen and (max-width: $breakpoint-xl) {
    column-gap: 20px;
    row-gap: 30px;
  }

  @media only screen and (max-width: $breakpoint-md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (max-width: $breakpoint-sm) {
    column-gap: 10px;
    row-gap: 20px;
  }
}
