.single-product {
  padding: 40px 0 55px 0;

  @media only screen and (max-width: $breakpoint-sm) {
    padding: 15px 0 40px 0;
  }

  .container {
    display: flex;

    @media only screen and (max-width: $breakpoint-md) {
      flex-direction: column;
    }
  }
}

.single-product__image {
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 55px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;

  @media only screen and (max-width: $breakpoint-xl) {
    padding-right: 25px;
  }

  @media only screen and (max-width: $breakpoint-lg) {
    padding-right: 15px;
  }

  @media only screen and (max-width: $breakpoint-md) {
    padding-right: 0;
    padding-bottom: 40px;
    flex: 0 0 100%;
    max-width: 100%;
    flex-direction: row;
  }

  @media only screen and (max-width: $breakpoint-sm) {
    padding-bottom: 20px;
  }

  .swiper-container {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: contain;
    background-position: center;
  }

  .gallery-top {
    height: 100%;
    width: 100%;
    flex: 0 0 80%;

    @media only screen and (max-width: $breakpoint-sm) {
      flex: 0 0 100%;
    }
  }

  .gallery-thumbs {
    flex: 0 0 20%;
    height: 375px;
    box-sizing: border-box;
    padding-right: 25px;

    @media only screen and (max-width: $breakpoint-xl) {
      height: 273px;
    }

    @media only screen and (max-width: $breakpoint-lg) {
      height: 225px;
      padding-right: 15px;
    }

    @media only screen and (max-width: $breakpoint-md) {
      height: 330px;
      padding-left: 25px;
      padding-right: 0;
    }

    @media only screen and (max-width: $breakpoint-sm) {
      display: none;
    }
  }

  .gallery-thumbs .swiper-slide {
    width: 100%;
    height: auto;
    opacity: 0.4;
    cursor: pointer;
  }

  .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }

  .swiper-scrollbar {
    display: none;

    @media only screen and (max-width: 575.98px) {
      display: block;
    }
    
    .swiper-scrollbar-drag {
      background: rgba($orange, .75);
    }
  }

}

.single-product__info {
  flex: 0 0 50%;
  padding-left: 55px;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: $breakpoint-xl) {
    padding-left: 25px;
  }

  @media only screen and (max-width: $breakpoint-lg) {
    padding-left: 15px;
  }

  @media only screen and (max-width: $breakpoint-md) {
    padding-left: 0;
  }

  .single-product__sale {
    margin-bottom: 16px;

    @media only screen and (max-width: $breakpoint-xl) {
      margin-bottom: 20px;
    }
  }

  .single-product__main-info {
    margin-bottom: 40px;

    @media only screen and (max-width: $breakpoint-xl) {
      margin-bottom: 30px;
    }

    @media only screen and (max-width: $breakpoint-sm) {
      margin-bottom: 20px;
    }

    .single-product__title {
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 3px;

      @media only screen and (max-width: $breakpoint-lg) {
        font-size: 22px;
        margin-bottom: 10px;
      }
    }

    .single-product__price {
      font-size: 30px;

      @media only screen and (max-width: $breakpoint-lg) {
        font-size: 24px;
      }

      .new-price {
        display: inline-block;
        color: $orange;
        margin-right: 40px;
      }

      .old-price {
        display: inline-block;
        color: $light-gray;
        text-decoration: line-through;
      }
    }
  }

  .single-product__color {
    margin-bottom: 40px;

    @media only screen and (max-width: $breakpoint-xl) {
      margin-bottom: 30px;
    }

    &-box {
      padding: 8px;
      border: 1px solid $light-gray;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      @media only screen and (max-width: $breakpoint-lg) {
        padding: 6px;
      }

      @media only screen and (max-width: $breakpoint-md) {
        padding: 5px;
      }
    }

    &-hex {
      width: 25px;
      height: 25px;
      border: 1px solid $offwhite;

      @media only screen and (max-width: $breakpoint-lg) {
        width: 22px;
        height: 22px;
      }

      @media only screen and (max-width: $breakpoint-md) {
        width: 18px;
        height: 18px;
      }
    }

    p {
      font-size: 13px;
      font-weight: 300;
      margin-bottom: 25px;

      @media only screen and (max-width: $breakpoint-lg) {
        margin-bottom: 15px;
      }
    }
  }

  .single-product__add-to-cart {
    p {
      font-size: 13px;
      font-weight: 300;
      margin-bottom: 25px;

      @media only screen and (max-width: $breakpoint-lg) {
        margin-bottom: 15px;
      }
    }

    @media only screen and (max-width: $breakpoint-sm) {
      .quantity {
        width: 90px;
      }
    }
  }

  .single-product__brand {
    text-align: right;
    font-size: 12px;
    margin-top: 70px;
    text-transform: uppercase;
    letter-spacing: 2.2px;
  }

}

.single-product__description {
  padding: 45px 0 55px 0;
  text-align: center;

  @media only screen and (max-width: $breakpoint-xl) {
    padding: 30px 0;
  }

  .btn {
    display: inline-block;
    margin: 0 auto;
    border: 1px solid $orange;

    &:hover {
      cursor: normal;
    }
  }

  &-boxes {
    display: flex;
    padding: 95px 0;

    @media only screen and (max-width: $breakpoint-xl) {
      padding: 80px 0;
    }

    @media only screen and (max-width: $breakpoint-md) {
      flex-direction: column;
      padding: 60px 0;
    }
  }

  &-box {
    flex: 0 0 50%;

    &:last-child {
      @media only screen and (max-width: $breakpoint-md) {
        margin-top: 40px;
      }
    }
  }

  &-img {
    height: 67px;
    margin-bottom: 50px;

    @media only screen and (max-width: $breakpoint-xl) {
      height: 55px;
      margin-bottom: 30px;
    }

    @media only screen and (max-width: $breakpoint-lg) {
      margin-bottom: 30px;
      height: 40px;
    }
  }

  &-heading {
    font-size: 16px;
    margin-bottom: 35px;
    font-weight: 600;

    @media only screen and (max-width: $breakpoint-xl) {
      margin-bottom: 15px;
      font-size: 14px;
    }

    @media only screen and (max-width: $breakpoint-sm) {
      font-size: 12px;
      margin-bottom: 12px;
    }
  }

  &-text {
    font-size: 14px;
    max-width: 430px;
    margin: 0 auto;

    @media only screen and (max-width: $breakpoint-xl) {
      font-size: 13px;
    }

    @media only screen and (max-width: $breakpoint-lg) {
      font-size: 12px;
      max-width: 300px;
    }
  }

  &-label {
    max-width: 175px;
    margin: 10px auto 0 auto;

    @media only screen and (max-width: $breakpoint-xl) {
      max-width: 150px;
    }
  }
}